<!DOCTYPE html>
<html>
    <head>
        <title>Currencies</title>
        <meta charset="utf-8">
        <link href = "{{ url_for('static', filename='css/style.css') }}" rel = "stylesheet" />
    </head>
    <body>
        <form class="fetch-form" method="post">
            <label for="charcodes">Enter charcodes: </label>
            <input id="charcodes" name="charcodes" type = "text">
            <button class="submit-btn" type="submit">Fetch</button>
        </form>
        <table class="rates-table">
            <tr class="rates-row">
                <th class="rates-row">Charcode</th>
                <th class="rates-row">Value</th>
                <th class="rates-row">Nominal</th>
                <th class="rates-row">Added</th>
            </tr>
            {% for item in rates %}
            <TR class="rates-row">
               <TD class="rates-row">{{ item.charcode }}                </TD>
               <TD class="rates-row">{{ "{:.2f}".format(item.value) }}  </TD>
               <TD class="rates-row">{{ item.nominal }}                 </TD>
               <TD class="rates-row">{{ item.added }}                   </TD>
            </TR>
            {% endfor %}
        </table>            
    </body>
</html>