.rates-table { 
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    border: 1px dashed black;
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rates-row{
    border: 1px dashed black;
}

.fetch-form{
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    text-align: center;
    margin: 5px;
}

.submit-btn{
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    background-color: #dddddd;
    cursor: pointer;
    border-radius: 0px;
}

.auth-btn{
    text-align: center;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    background-color: #dddddd;
    cursor: pointer;
    border-radius: 0px;
}